<a href="https://colab.research.google.com/github/btaitel/flaming-octo-nemesis/blob/master/Module%200/Session%203/s3nb2_lists_SP25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sequences:  Lists

### Lists in Python

#### We wil work with lists extensively in the class.

#### Lists are used to store multiple items in a single variable. Lists are created using square brackets, or using the list() method.

#### List items are:

1. Ordered, mutable/changeable, and allow duplicate values.

2. Addressed by their index, which is their position within the list.

3. Can be of any data type, and can be different data types. This property of lists allows us to nest other data structures within lists (nested data). **We will be covering nested data later in the bootcamp.**

**Ordered:**  When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

Note: There are some list methods that will change the order, but in general, the order of the items will not change. `Sort()` and `reverse()` change the list order, and we will reference those methods below.

**Mutable/Changeable:**  The list is mutable/changeable, meaning that we can change, add, and remove items in a list after it has been created. When adding new items to a list, the new items will be placed at the end of the list.

**Allow Duplicates:**  Since lists are indexed, lists can have items with the same value

**Indexed:**  List items are indexed, the first item has index `[0]`, the second item has index `[1]`, etc.

#### Intro to List documentation link: https://docs.python.org/3/tutorial/introduction.html#lists

#### Recall from the previous notebook the operations that can be performed on sequences, and also that lists are sequences.

![seq_ops.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%203/seq_ops.png?raw=1)

#### Lists also have some operations that are specific to lists themselves. We will cover a subset of these below, specifically including those which students will be asked to do in the class.

### Now let's look at `lists` in some detail.

In [1]:
# Ways of creating lists

lst_1 = list()  # creates an empty list
lst_2 = []  # also creates an empty list
lst_3 = [1,2,3,4,5]  # creates a populated list
lst_squares = [1, 4, 9, 16, 25, 36, 49]  # another populated list

# creates a list with different data types for the items.
# Note that the last element is also a nested list element
lst_diff_data_types = [True, 'CSE6040', 12.77, (2,4,6)]

In [2]:
display(lst_1)
display(lst_2)
display(lst_3)
display(lst_squares)
display(lst_diff_data_types)

# all of them are a list data type
display(type(lst_1))
display(type(lst_3))
display(type(lst_diff_data_types))

[]

[]

[1, 2, 3, 4, 5]

[1, 4, 9, 16, 25, 36, 49]

[True, 'CSE6040', 12.77, (2, 4, 6)]

list

list

list

In [3]:
# addressing elements of a list
# note that elements are zero-indexed
display(lst_squares)
display(lst_squares[0])
display(lst_squares[3])

[1, 4, 9, 16, 25, 36, 49]

1

16

### Python Tutor is a fantastic online tool to visualize your code. Let's take a look at what this list looks like there, and help to understand zero-based indexes.

#### https://pythontutor.com/render.html#mode=edit

Copy and paste the lst_squares definition into the code window.

See how the the list indexes are zero-based.

#### Negative indexing

In Python, negative sequence indexes represent positions from the end of the array.  

Negative indexing means we start from the end:
1. `[-1]` refers to the last item,
2. `[-2]` refers to the second-last item, etc.

In [4]:
# create the list
neg_list = [11,3,-4,6,90,23,5,25,16,15]

In [5]:
# negative indexing
display(neg_list[3])
display(neg_list[-7])

6

6

![list_negative_index.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%203/list_negative_index.png?raw=1)

Recall that lists are mutable.

To change the value of a list item, simply assign the new value to it.

In [6]:
display(lst_3)

# change a list value
lst_3[1] = 9
display(lst_3)

[1, 2, 3, 4, 5]

[1, 9, 3, 4, 5]

#### Slicing a list, syntax/notation

![slice_notation.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%203/slice_notation.png?raw=1)

If `Lst` is a list, then the above expression returns the portion of the list from index `Initial` to index `End -1`, at a step size `IndexJump`.

Note that the `End` value always stops at the element **before** the number specified.

The `IndexJump` parameter is commonly referred to as the `step size`.

**Slicing always goes `from left to right` in the list. (Lowest positive index to highest)**

**None** of the parameter values are **required** in the slice notation.

If `Initial` is not specified then `0` is assumed (start at the beginning).

If `End` value is not specified, then the (last value + 1) is assumed (go to the end of the list).

If `IndexJump` is not specified, then `1` is assumed (step to the next element).

In [7]:
# slicing notation for a list
display(neg_list)
display(neg_list[:5])
display(neg_list[0:5])
display(neg_list[0:5:2])

[11, 3, -4, 6, 90, 23, 5, 25, 16, 15]

[11, 3, -4, 6, 90]

[11, 3, -4, 6, 90]

[11, -4, 90]

In [8]:
# negative slicing
display(neg_list[:-5])
#so basically we need to figure out what the end point is by counting from right
#then we go from the left until that point (non inclusive)
display(neg_list[-5:]) # SLICING ALWAYS GOES LEFT TP RIGHT
display(neg_list[-5:-1]) #23,5,25,16
display(neg_list[-5:-1:2]) #23,25

[11, 3, -4, 6, 90]

[23, 5, 25, 16, 15]

[23, 5, 25, 16]

[23, 25]

In [9]:
# more negative slicing
display(neg_list[-1:])  # why only 1 value? bc it goes left to right and its inclusive of start pt
display(neg_list[-1:-5])  # why empty? cause it goes left to right and we didnt do it right
#the left side should have a more negative value, a lesser value

[15]

[]

In [10]:
# length operation
# Note that a length of 10 uses indexes 0-9
display(len(neg_list))

#len is 10, but the list actually has elements from 0 to 9

10

In [11]:
# recall that lists can be nested

# same code as above, for easy reference
# creates a list with different data types for the items.
# Note that the last element is also a nested list element
lst_diff_data_types = [True, 'CSE6040', 12.77, (2,4,6)]

display(lst_diff_data_types)

[True, 'CSE6040', 12.77, (2, 4, 6)]

#### Let's view this data structure in Python Tutor.

Open the link, copy in the list definition code, then execute to see the visualization.

#### https://pythontutor.com/render.html#mode=display

In [12]:
display(lst_diff_data_types[3])
display(type(lst_diff_data_types[3]))

(2, 4, 6)

tuple

In [13]:
# addressing nested data elements
display(lst_diff_data_types)
display(lst_diff_data_types[3])
display(lst_diff_data_types[3][1])

[True, 'CSE6040', 12.77, (2, 4, 6)]

(2, 4, 6)

4

#### In addressing the elements of a nested list item, we use multiple brackets.

The first bracket (in this case `[3]`), identifies the element within the list.

The second bracket (in this case `[1]`), identifies the element within the list item itself.

If there are additional nested elements, we would add bracket numbers to address them.

#### <span style="background-color: #FFFF00"> It is IMPERATIVE that students understand this method of addressing nested data elements.</span>  We will show multiple nesting examples, with different data types, in the bootcamp session covering nested data.

### `List` operations, part 1

Let's start with some operations that are common to all sequences, that we may use in this class.

In [14]:
# recall our list of squares
display(lst_squares)

# length
display(len(lst_squares))

[1, 4, 9, 16, 25, 36, 49]

7

In [15]:
# min value
display(min(lst_squares))

# max value
display(max(lst_squares))

1

49

In [16]:
# count occurrences of a value in a list
display(lst_squares.count(16))

# Is value in a list? use the 'in' operator. returns a boolean operator
display(9 in lst_squares)
display(8 in lst_squares)

1

True

False

In [17]:
# concatenation of two lists
lst_concat = lst_squares + lst_diff_data_types
display(lst_concat)

#using the + sign for two lists does not add the lists but instead concatenate them

[1, 4, 9, 16, 25, 36, 49, True, 'CSE6040', 12.77, (2, 4, 6)]

#### `List` operations, part 2.

Now let's look at operations that are specific to `lists.`

List operations documentation link: https://docs.python.org/3/tutorial/datastructures.html

#### There are three ways of adding elements to a list, using list methods:

The `append()` method. `append()` adds the element to the end of the list. **This will be the main method that we will use in this class to add elements to a list.**

The other two methods are `insert()` and `extend()`. **Because you will seldom (if ever) have the need to use one of these methods in this class, we will not cover them here.**

#### https://docs.python.org/3/tutorial/datastructures.html

In [18]:
display(lst_3)

# append method
lst_3.append(50)
display(lst_3)

# another append
lst_3.append(5*7)
display(lst_3)

#so this means you can kind of do an operation inside an append method

[1, 9, 3, 4, 5]

[1, 9, 3, 4, 5, 50]

[1, 9, 3, 4, 5, 50, 35]

In [19]:
# what is the length of the list?
display(len(lst_3))

7

#### Use the `copy()` method to make a copy of a list.

Note that this method makes a `shallow copy` of the list, and not a `deep copy`. Don't worry about that at this time, and we will cover shallow and deep copies later in the bootcamp.

In [20]:
# make 4 copies of the list, to use in code examples below
lst_3_copy_1 = lst_3.copy()
lst_3_copy_2 = lst_3.copy()
lst_3_copy_3 = lst_3.copy()
lst_3_copy_4 = lst_3.copy()
display(lst_3_copy_1)

[1, 9, 3, 4, 5, 50, 35]

#### There are three list methods to remove elements from a list. We can also use a Python keyword, `del`, which is not a list method.

1. The `remove(x)` method removes the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

2. The `pop([i])` method removes the item at the given position in the list, and returns it.

     a. If no index is specified, a.pop() removes and returns the last item in the list.
     
     b. The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position.
     
3. The `clear()` method simply removes all of the list items, so that it becomes an empty list.
     
4. The `del` Python keyword requires an object as the next code element, and it deletes whatever is specified by that code element.

     a. We can use `index` notation to specify a particular element to delete.
     
     b. We can use `slicing` notation to delete multiple elements.
     
     c. **If no elements are specified, the list itself is removed.**

In [21]:
display(lst_3_copy_1)

[1, 9, 3, 4, 5, 50, 35]

Using `remove()`

In [22]:
# remove a value from the list
lst_3_copy_1.remove(50)
display(lst_3_copy_1)

#remove(x) - itll take away the first instance of that value, else return a ValueError

[1, 9, 3, 4, 5, 35]

In [23]:
# remove a value from the list, that has multiple elements with the same value
# note that there are two values of 3, and this will remove the first value
lst_3_copy_1.remove(3)
display(lst_3_copy_1)

[1, 9, 4, 5, 35]

Using `pop()`

In [24]:
# use pop to remove the last list item
remove_last = lst_3_copy_1.pop()
display(remove_last)
display(lst_3_copy_1)

#notice how we set the pop method to a new variable
#this allows us to store the 'popped' value in a new variable

35

[1, 9, 4, 5]

In [25]:
# remove the value at a particular location
lst_3_copy_1.pop(3)
display(lst_3_copy_1)

[1, 9, 4]

Using `clear()`

In [27]:
# clear the list
display(lst_3_copy_2)

lst_3_copy_2.clear()
display(lst_3_copy_2)

[1, 9, 3, 4, 5, 50, 35]

[]

Using `del` Python keyword

In [26]:
# using the del keyword
display(lst_3_copy_3)

# delete the 2nd element of the list
del lst_3_copy_3[1]
display(lst_3_copy_3)

[1, 9, 3, 4, 5, 50, 35]

[1, 3, 4, 5, 50, 35]

In [28]:
# delete the second and third elements of the list
# using slicing notation
del lst_3_copy_3[1:3] #deleting the 1st and 2nd element, so itll show 1 5 50 35
display(lst_3_copy_3)

[1, 5, 50, 35]

In [29]:
# delete ALL elements of the list
# using slicing notation
del lst_3_copy_3[:] #interesting that we need the colon in order to delete all elements
display(lst_3_copy_3)

[]

In [32]:
# delete the list itself
del lst_3_copy_3

# throws an error, because the variable no longer exists
#display(lst_3_copy_3)

#and even if i try to delete more than once, then there will be an error because we already deleted it

NameError: name 'lst_3_copy_3' is not defined

#### `reverse()` and `sort()` do exactly what they say. They operate on the list IN PLACE, meaning that they change the variable directly.

1. `reverse()` takes no arguments, and it simply reverses the order of the list items.

2. `sort()` takes one optional argument, `reverse=False`.

     a. If the argument is not specified, then the list is sorted in ascending order.
     
      `list.sort()` and `list.sort(reverse=False)` are equivalent.
     
     b. If `reverse=True` is specified, then the list is sorted in descending order.

In [33]:
# reverse the list
display(lst_3_copy_4)

lst_3_copy_4.reverse()
display(lst_3_copy_4)

[1, 9, 3, 4, 5, 50, 35]

[35, 50, 5, 4, 3, 9, 1]

In [34]:
# sorting the list
display(lst_3_copy_4)

# sort in ascending order
lst_3_copy_4.sort()
display(lst_3_copy_4)

# sort in descending order
lst_3_copy_4.sort(reverse=True)
display(lst_3_copy_4)

[35, 50, 5, 4, 3, 9, 1]

[1, 3, 4, 5, 9, 35, 50]

[50, 35, 9, 5, 4, 3, 1]

#### What are your questions on lists?